<extend name="template/base_index" />


<block name="area_header">
<script type="text/javascript" src="__CDN__/jquery-validation/1.13.1/jquery.validate.min.js"></script>
	<script type="text/javascript" src="__CDN__/jquery-validation/1.13.1/localization/messages_zh.min.js"></script>
	
    <script type="text/javascript" charset="utf-8" src="__UPLOAD__/ueditor/1.4.3/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__UPLOAD__/ueditor/1.4.3/ueditor.all.min.js"> </script>
	<link type="text/css" rel="stylesheet" href="__CDN__/comp/wxuploader.css?v=__APP_VERSION__" />
	<link type="text/css" rel="stylesheet" href="__CDN__/jquery-uploadify/3.2.1/uploadify.css" />
	<script type="text/javascript" src="__CDN__/jquery-uploadify/3.2.1/jquery.uploadify.min.js"></script>

</block>

<block name="area_body">
	{:W('Menus/topbar')}
	<div class="admin-main container-fluid">
		{:W('Menus/left')}
		<div class="admin-main-content">
			{:W('Menus/breadcrumb')}
		
			<!-- 带验证 form -->
			<form class="form-horizontal well validateForm">
				<input type="hidden" name="id" value="{$vo.id}" />
				<fieldset>
					<legend>
						</legend>
					<div class="form-group">
						<label for="inputtitle" class="col-md-2 col-lg-2 control-label">文章标题</label>
						<div class="col-md-10 col-lg-10">
							<input type="text" class="required form-control input-short" value="{$vo.post_title}" name="post_title" id="inputtitle" placeholder="{:L('PLACEHOLDER_TITLE')}">
							<div class="help-block">(请输入文章标题)</div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputtitle" class="col-md-2 col-lg-2 control-label">文章状态</label>
						<div class="col-md-10 col-lg-10">
							<label class="radio-inline">
								<input type="radio" name="post_status" value="publish"  <eq name="vo.post_status" value="publish">checked="checked"</eq>  />立即发布
							</label>
							<label class="radio-inline">
								<input type="radio" name="post_status" value="draft"  <eq name="vo.post_status" value="draft">checked="checked"</eq>  />草稿
							</label>
						</div>
					</div>
					<div class="form-group am-hide">
						<label for="inputtitle" class="col-md-2 col-lg-2 control-label">可否评论</label>
						<div class="col-md-10 col-lg-10">
							<label class="radio-inline">
								<input type="radio" name="comment_status"  <eq name="vo.comment_status" value="closed">checked="checked"</eq>  value="closed" />禁止评论
							</label>
							<label class="radio-inline">
								<input type="radio" name="comment_status"  <eq name="vo.comment_status" value="open">checked="checked"</eq> value="open" />任何人都可评论
							</label>
							<label class="radio-inline">
								<input type="radio" name="comment_status"  <eq name="vo.comment_status" value="registered_only">checked="checked"</eq> value="registered_only" />仅会员可评论
							</label>
						</div>
					</div>
					<div class="form-group">
						<label for="inputtitle" class="col-md-2 col-lg-2 control-label">文章缩略图</label>
						<div class="col-md-10 col-lg-10">
							<input type="hidden" name="main_img" id="main_img" value="{$vo.main_img}" />
							<div class="wxuploaderimg clearfix <notempty name="vo.main_img">checked</notempty>" data-maxitems="1">
								<div class="img-preview clearfix" >
									<notempty name="vo.main_img">
											<div class="pull-left clearfix img-item">
												<img src="{$vo.main_img}" />
												<div class="edit_pic_wrp"><a href="javascript:;" class="fa fa-lg fa-trash js_delete"></a></div>
											</div>
									</notempty>
								</div>
								<div class="add">
									<i class="fa fa-plus"></i>
								</div>
							</div>
							
						</div>
					</div>
					<div class="form-group">
						<label for="inputpost_excerpt" class="col-md-2 col-lg-2 control-label">文章摘要</label>
						<div class="col-md-10 col-lg-10">
							<textarea name="post_excerpt" rows="5"  class="required form-control input-normal">{$vo.post_excerpt}</textarea>
							<div class="help-block">(请输入文章摘要)</div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="inputpost_excerpt" class="col-md-2 col-lg-2 control-label">文章分类</label>
						<div class="col-md-10 col-lg-10">
							<select name="post_category" >
								{:W("Partials/datatree",array(getDatatree('POST_CATEGORY'),true,$vo['post_category']))}
							</select>
							<div class="help-block">(请选择文章分类)</div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputtitle" class="col-md-2 col-lg-2 control-label">文章内容</label>
						<div class="col-md-10 col-lg-10">							
							 <script id="ueditor" name="post_content" type="text/plain" style="height: 480px;" >{$vo.post_content}</script>
						</div>
					</div>
					<div class="form-group">
						<label for="btns" class="col-md-2 col-lg-2 control-label">&nbsp;</label>
						<div class="col-lg-10 col-md-10">
							<a target-form="validateForm" class="ajax-post btn btn-primary" onclick="return getData();" href="{:U('Admin/Post/edit')}" autofocus="autofocus"><i class="fa fa-save"></i> {:L('BTN_SAVE')}</a>
							<a class="btn btn-default" href="{:U('Admin/Post/index')}"><i class="fa fa-reply"></i>返回</a>
						</div>
					</div>
				</fieldset>
			</form>
			<!-- form -->
			
			<include file="template/wxpicture" />
		</div>
		<!-- END admin-main-content -->
	</div>
		<!-- END admin-main-->
</block>

<block name="area_footer">

<script>
    var ue = UE.getEditor('ueditor',{
    	toolbars:[
        ['fullscreen', 'source', 'undo', 'redo', 'bold','italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', '|','lineheight'
       , 'fontsize', 'insertimage','emotion','link', 'unlink', 'anchor', '|','map','print', 'preview',  'drafts','forecolor','backcolor'
        ]
    ]});
    ue.ready(function(){
    		var cont = '{:htmlspecialchars_decode($vo['post_content'])}';
    		ue.setContent(cont);
    });
	</script>
	<script type="text/javascript">
		
		function getData(){
			$("#main_img").val($(".wxuploaderimg img").attr("src"));		
		}
		$(function(){			
			wxuploadimg.init({cont:".wxuploaderimg"});
		})
	</script>
</block>