<extend name="template/base_index" />

<block name="area_header">
	<script type="text/javascript" src="__CDN__/amazeui/2.3.0/js/amazeui.min.js"></script>
	<style type="text/css">
		.article-list{
			background: #F5F5F5;
			max-width: 640px;
			margin: 0 auto;
		}
		
		.am-list>li{
			margin-bottom: 10px;	
			border-width: 1px;
		}
		.am-list>li>a{
			color:#222222;
		}
		.am-list .am-list-item-dated a{
			padding: 10px;
		}
		#offcanvas .am-offcanvas-content{
			padding: 15px 0px;
		}
		
		#offcanvas .am-list>li>a {
		  color: #F0D7D7;
		  background: #4C4444;
		  width: 100%;
		  border: 0px;
		  padding-left: 12px;
		  padding: 10px 12px;
  		}
	</style>
	
</block>


<block name="area_body">
	<include file="template/header" title="{$title}" />
	<div class="article-list am-padding-sm">
		<h2>{$title}</h2>
		<ul class="am-list ">
			<volist name="list" id="vo">
				<li class="am-g am-list-item-dated am-padding-sm">
					<a href="{:U('Cms/Post/view',array('id'=>$vo['id']))}" class="am-list-item-hd ">
			        <div ><span class="am-link-muted">{$vo.post_date|date='Y-m-d',###}</span></div>
					<div class=""><strong>{$vo.post_title}</strong></div>
					<div ><img src="{$vo.main_img}" class="am-thumbnail am-responsive-width" style="height: 160px;width: 100%;" />		</div>
					<div class="am-link-muted">{$vo.post_excerpt}       </div>
					<hr />
					<div class="am-link-muted am-cf">阅读全文 <i class="am-icon-chevron-right am-fr"></i></div>
			        </a>
				</li>
			</volist>
		</ul>
		<div>{$show}</div>
	</div>
	
	<include file="template/offcanvas"  />
</block>

<block name="area_footer">
	<script type="text/javascript">
		$(function(){
		})
		
	</script>
</block>
	