<extend name="template/base_index" />

<block name="area_header">
	<link rel="stylesheet" type="text/css" href="__CSS__/view.css?v=__APP_VERSION__" />
</block>


<block name="area_body">
	
	<div class="am-article am-g am-padding-sm">
		<div class="am-article-hd">
			<div class="am-article-title am-margin-bottom-sm am-margin-top-sm"><strong>{$post.post_title}</strong></div>
			<div class="am-article-meta">{:date('Y-m-d',time())}&nbsp;&nbsp;{:C('BRAND_NAME')}</div>
		</div>
		
		<div class="am-article-divider"></div>
        <notempty name="post['post_excerpt']">
		<div class="am-article-lead">{$post.post_excerpt}</div>
        </notempty>

        <if condition="$post['main_img'] gt 0">
		<div class="am-margin-top-xl"><img src="{:U('Api/Picture/index',array('id'=>$post['main_img']))}" class="am-thumbnail am-responsive-width" style="height: 160px;width: 100%;" />		</div>
        </if>
            <div class="am-article-divider"></div>

		<div class="am-article-bd am-padding-sm">
			{$content}
		</div>



	</div>
	
</block>

<block name="area_footer">
</block>
	