<extend name="template/base_index" />


<block name="area_header">

	<link rel="stylesheet" type="text/css" media="all" href="__CDN__/jquery-datetimepicker/jquery.datetimepicker.css">
	<script type="text/javascript" src="__CDN__/jquery-datetimepicker/jquery.datetimepicker.js"></script>
</block>

<block name="area_body">
	{:W('Menus/topbar')}
	<div class="admin-main container-fluid">
		{:W('Menus/left')}
		<div class="admin-main-content">
			{:W('Menus/breadcrumb')}
			<!-- 过滤\查询按钮 -->
				<div class="filter-controls">
					<!-- 日期查询 -->
					<form action="{:U('Admin/Wxshop/index')}" method="post" class="form-inline">
						<div class="form-group">
							<label>店铺名称</label>
							<input type="text" name="name" class="form-control input-sm" placeholder="店铺名称" />
						</div>
						<button type="submit" class="btn btn-default btn-sm"><i class="fa fa-search"></i>{:L('BTN_SEARCH')}</button>
					</form>
				</div>
				<!-- 操作按钮 -->
				<div class="btn-controls">
					<a class="btn btn-primary btn-sm" href="{:U('Admin/Wxshop/add')}"><i class="fa fa-plus"></i>{:L('BTN_ADD')}</a>
				
				</div>

				<table class="table table-striped table table-hover  table-condensed">
					<thead>
						<tr>
							<th>
								店铺ID
							</th>
							<th>
								店铺名称
							</th>
							<th>
								创建时间
							</th>
							<th>
								操作
							</th>
						</tr>
					</thead>
					<tbody>
						<empty name="list">
							<tr>
								<td colspan="3" class="text-center">{:L('NO_DATA')}</td>
							</tr>
							<else/>
							<volist name="list" id="vo">
								<tr>							
									<td>
										{$vo.id}
									</td>
									<td>
										<a href="{:U('Admin/Wxshop/view',array('id'=>$vo['id']))}">{$vo.name}</a>
									</td>									
									<td>
										{$vo.createtime|date='Y-m-d h:i:s',###}
									</td>
									<td>
										<a href="{:U('Admin/Wxshop/edit',array('id'=>$vo['id']))}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i>编辑</a>
										<a href="{:U('Admin/Wxshop/delete',array('id'=>$vo['id']))}" class="ajax-get confirm btn btn-sm btn-danger"><i class="fa fa-trash"></i>删除</a>
									</td>
								</tr>

							</volist>
						</empty>
					</tbody>
				</table>
				<div>{$show}</div>
			</div>

			<script type="text/javascript">
			</script>
		</div>
		<!-- END admin-main-content -->
	</div>
		<!-- END admin-main-->
</block>

<block name="area_footer">

</block>