<extend name="template/base_index" />


<block name="area_header">

</block>

<block name="area_body">
	{:W('Menus/topbar')}
	<div class="admin-main container-fluid">
		{:W('Menus/left')}
		<div class="admin-main-content">
			{:W('Menus/breadcrumb')}
			<div class="table-responsive well">
				<!-- 操作按钮 -->
				<div class="btn-controls">
					<a class="btn btn-sm  btn-primary" href="{:U('Admin/AuthGroup/add')}"><i class="fa fa-plus"></i>{:L('BTN_ADD')}</a>
					<a target-form="selectitem" class="ajax-post btn btn-sm  btn-primary" href="{:U('Admin/AuthGroup/enable')}"><i class="fa fa-check-circle"></i>{:L('BTN_ENABLE')}</a>
					<a target-form="selectitem" class="ajax-post btn btn-sm  btn-primary" href="{:U('Admin/AuthGroup/disable')}"><i class="fa fa-minus-circle"></i>{:L('BTN_DISABLE')}</a>
				</div>
				<!-- 过滤\查询按钮 -->
				<div class="filter-controls">
					
				</div>

				<table class="table table-striped table table-hover  table-condensed">
					<thead>
						<tr>
							<th>								
								<input type="checkbox" class="selectall" onclick="myUtils.selectall(this,'.selectitem');" />
								{:L('V_AUTHMANAGE_AUTH_GROUP_TITLE')}
							</th>
							<th>
								{:L('V_AUTHMANAGE_AUTH_GROUP_NOTES')}
							</th>							
							<th>
								{:L('V_AUTHMANAGE_GRANT_AUTHORIZATION')}
							</th>
							<th>
								{:L('STATUS')}
							</th>
							<th>
								{:L('OPERATOR')}
							</th>
						</tr>
					</thead>
					<tbody>
						<empty name="list">
							<tr>
								<td colspan="5" class="text-center">{:L('NO_DATA')}</td>
							</tr>
						<else/>
						<volist name="list" id="vo">
							<tr>
								<td>
									<input type="checkbox" value="{$vo.id}" name="ids[]" class="selectitem" /><a href="{:U('Admin/AuthGroup/edit',array('id'=>$vo['id']))}" >{$vo.title}</a></td>
								<td>{$vo.notes}</td>
								<td><a href="{:U('Admin/AuthManage/access',array('groupid'=>$vo['id']))}" class="btn btn-sm btn-primary">{:L('BTN_NODE_GRANT_AUTHORITY')}</a>
									<a href="{:U('Admin/AuthManage/user',array('groupid'=>$vo['id']))}" class="btn btn-sm  btn-primary">{:L('BTN_MEMBER_GRANT_AUTHORITY')}</a> 
									<a href="{:U('Admin/AuthManage/apiaccess')}" class="btn btn-sm  btn-primary">API授权</a></td>
								<td>{$vo.status|getStatus}</td>
								<td>
									<a href="{:U(CONTROLLER_NAME .'/enable',array('id'=>$vo['id']))}" class="btn btn-default btn-sm"><i class="fa fa-check-circle"></i>{:L('BTN_ENABLE')}</a>
									<a href="{:U(CONTROLLER_NAME .'/disable',array('id'=>$vo['id']))}" class="btn btn-default btn-sm"><i class="fa fa-minus-circle"></i>{:L('BTN_DISABLE')}</a>
									<a href="{:U(CONTROLLER_NAME .'/delete',array('id'=>$vo['id']))}" class="btn btn-danger btn-sm ajax-get confirm"><i class="fa fa-trash-o"></i> {:L('BTN_DELETE')}</a>
								</td>
							</tr>

						</volist>
						</empty>
					</tbody>
				</table>
				<div>{$show}</div>
			</div>
			
		</div>
		<!-- END admin-main-content -->
	</div>
		<!-- END admin-main-->
</block>

<block name="area_footer">

</block>