<extend name="template/base_index" />


<block name="area_header">

	<link type="text/css" rel="stylesheet" href="__CDN__/comp/login.css?c=__APP_VERSION__" />
	<script src="__CDN__/jquery-validation/1.13.1/jquery.validate.min.js"></script>
	<script src="__CDN__/jquery-validation/1.13.1/localization/messages_zh.min.js"></script>
</block>

<block name="area_body">
	{:W('Menus/topbar')}
	<div class="admin-main container-fluid">
		{:W('Menus/left')}
		<div class="admin-main-content">
			{:W('Menus/breadcrumb')}

			<form class="updatepasswordForm form-horizontal well validateForm">
				<fieldset>
					<legend>
						{:L('VIEW_UPDATE_PASSWORD')}
					</legend>
					<div class="form-group">
						<label class="col-lg-2 col-md-2 control-label">
							{:L('VIEW_CUR_PASSWORD')}
						</label>
						<div class="col-lg-10 col-md-10">
							<input type="password" class="require form-control input-normal required" name="old" placeholder="{:L('PLACEHOLDER_PASSWORD')}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 col-md-2 control-label">
							{:L('VIEW_NEW_PASSWORD')}
						</label>
						<div class="col-lg-10 col-md-10">
							<input type="password" class="require form-control input-normal required" name="password" placeholder="{:L('PLACEHOLDER_NEW_PASSWORD')}" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 col-md-2 control-label">
							{:L('VIEW_RE_PASSWORD')}
						</label>
						<div class="col-lg-10 col-md-10">
							<input type="password" class="form-control input-normal required" name="repassword" placeholder="{:L('PLACEHOLDER_RE_PASSWORD')}"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 col-md-2 control-label">
							&nbsp;
						</label>
						<div class="col-lg-10 col-md-10">
							<a href="{:U('Admin/Account/submitpassword')}" target-form="updatepasswordForm" class="ajax-post btn btn-primary" data-loading-text="{:L('BTN_SAVE')}..." autofocus="autofocus"> <i class="fa fa-save"></i>{:L('BTN_SAVE')}</a>
							<a href="javascript:history.go(-1)" class="btn" target-form=".updatepasswordForm"><i class="fa fa-times-circle" ></i>{:L('BTN_CANCEL')}</a>
						</div>
					</div>
				</fieldset>
			</form>

		</div>
		<!-- END admin-main-content -->
	</div>
	<!-- END admin-main-->
</block>

<block name="area_footer">
	<script type="text/javascript">
		$(function() {
			$(".updatepasswordForm").validate();
		})
		
		 $(document).keydown(function(event) {
			if (event.keyCode == 13) {
				$(".ajax-post").click();
			}
		});
	</script>
</block>