<extend name="template/base_index" />

<!--
	作者：hebiduhebi@126.com
	时间：2015-05-08
	描述：百度地图-拾取坐标使用案例
-->
<block name="area_header">
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak={:C('BAIDU_MAP_KEY')}"></script>
</block>

<block name="area_body">
	{:W('Menus/topbar')}
	<div class="admin-main container-fluid">
		{:W('Menus/left')}
		<div class="admin-main-content">
			{:W('Menus/breadcrumb')}
		
			<!-- 带验证 form -->
			<form class="form-horizontal well validateForm" >
				<fieldset>
					<legend>
						创建店铺</legend>
					
					
					<div class="form-group baidumap_position">
						<label for="inputtitle" class="col-md-2 col-lg-2 control-label">店铺地址</label>
						<div class="col-md-10 col-lg-10">
							经度<input type="text" value="" name="lng" class="lng" />,纬度<input type="text" value="" name="lat" class="lat"  />
							<button type="button" class="js_baidumap btn btn-primary btn-sm" data-toggle="modal" data-target="#baidumap" >点击选择百度地图</button>
						</div>
					</div>
					
				</fieldset>
			</form>
			<!-- form -->
			
			
			<include file="template/baidumap" />
			
		</div>
		<!-- END admin-main-content -->
	</div>
		<!-- END admin-main-->
</block>

<block name="area_footer">
	
	
<script type="text/javascript">
           
   
    
	
	$(function(){
		
		$(".baidumap_position").baidumap();
		
		
	})
</script>
</block>