
<!-- nprogress plugin -->
<link rel="stylesheet" type="text/css" href="__CDN__/nprogress/nprogress.css" />
<script type="text/javascript" src="__CDN__/nprogress/nprogress.js"></script>
<!-- scojs plugin -->
<link rel="stylesheet" type="text/css" href="__CDN__/sco1.0.2-8/css/scojs.css" />
<script type="text/javascript" src="__CDN__/sco1.0.2-8/js/sco.all.js"></script>
<!--<script type="text/javascript" src="__CDN__/sco1.0.2-8/js/sco.modal.js"></script>-->
<!--<script type="text/javascript" src="__CDN__/sco1.0.2-8/js/sco.confirm.js"></script>-->
<!--<script type="text/javascript" src="__CDN__/sco1.0.2-8/js/sco.message.js"></script>-->
<!-- 自定义模块通用样式 -->
<link rel="stylesheet" type="text/css" href="__CSS__/common.css?v=__APP_VERSION__" />
<script type="text/javascript" src="__CDN__/common/common.js?v=__APP_VERSION__"></script>



