<div class="J_TWidget tincal20141202133155trigger" data-widget-config="{'effect': 'fade', 'circular': true ,'contentCls':'piao143102133155'}" data-widget-type="Tabs" style="height:550px;overflow:hidden;">
	<div class="piao143102133155" style="height:550px;">
		<div class="footer-more-trigger" style="width:1920px;height:550px;top:auto;padding:0px;border:none;left:50%;">
			<div class="footer-more-trigger" style="width:1920px;height:550px;padding:0px;border:none;left:-50%;">
				<div class="J_TWidget" data-widget-config="{'effect':'scrollx','easing':'elasticOut','autoplay':true,'prevBtnCls':'pre141202133155trigger','nextBtnCls':'next141202133155trigger','contentCls': 'carousel20141202133155content','navCls': 'carousel20141202133155trigger','duration':'1.5','interval':'3','autoplay':true}"
				data-widget-type="Carousel">
					<div style="width:1920px;height:550px;overflow:hidden;">
						<ul class="carousel20141202133155content">
							<li><span><span><a data-attr-replace="[{'type':'href','desc':'http://tincal.taobao.com'}]" href="http://dm.sanjiaoli.com" target="_blank"><img  border="0" data-attr-replace="[{'type':'img','desc':''}]" data-ks-lazyload="http://img04.taobaocdn.com/imgextra/i4/54532389/TB270AibXXXXXXXXpXXXXXXXXXX-54532389.jpg" height="550" src="http://a.tbcdn.cn/kissy/1.0.0/build/imglazyload/spaceball.gif" width="1920"/></a></span></span>
							</li>
							<li><span><span><a data-attr-replace="[{'type':'href','desc':'http://tincal.taobao.com'}]" href="http://dm.sanjiaoli.com" target="_blank"><img  border="0" data-attr-replace="[{'type':'img','desc':''}]" data-ks-lazyload="http://img01.taobaocdn.com/imgextra/i1/54532389/TB2d6cqbXXXXXbwXpXXXXXXXXXX-54532389.jpg" height="550" src="http://a.tbcdn.cn/kissy/1.0.0/build/imglazyload/spaceball.gif" width="1920"/></a></span></span>
							</li>
							<li><span><span><a data-attr-replace="[{'type':'href','desc':'http://tincal.taobao.com'}]" href="http://dm.sanjiaoli.com" target="_blank"><img  border="0" data-attr-replace="[{'type':'img','desc':''}]" data-ks-lazyload="http://img01.taobaocdn.com/imgextra/i1/54532389/TB2YokqbXXXXXcZXXXXXXXXXXXX-54532389.jpg" height="550" src="http://a.tbcdn.cn/kissy/1.0.0/build/imglazyload/spaceball.gif" width="1920"/></a></span></span>
							</li>
							<li><span><span><a data-attr-replace="[{'type':'href','desc':'http://tincal.taobao.com'}]" href="http://dm.sanjiaoli.com" target="_blank"><img  border="0" data-attr-replace="[{'type':'img','desc':''}]" data-ks-lazyload="http://img04.taobaocdn.com/imgextra/i4/54532389/TB2KYggbXXXXXXTXpXXXXXXXXXX-54532389.jpg" height="550" src="http://a.tbcdn.cn/kissy/1.0.0/build/imglazyload/spaceball.gif" width="1920"/></a></span></span>
							</li>
						</ul>
					</div>
					<div class="footer-more-trigger" style="border-bottom:medium none;border-left:medium none;padding-bottom:0px;padding-left:0px;width:127px;padding-right:0px;height:28px;border-top:medium none;top:512px;border-right:medium none;padding-top:0px;left:930px;">
						<ul class="carousel20141202133155trigger">
							<li class="pop1141202133155" style="display:inline;float:left;cursor:pointer;">
								<div style="width:28px;background:url(http://img01.taobaocdn.com/imgextra/i1/54532389/TB2qQAnbXXXXXafXXXXXXXXXXXX-54532389.png) no-repeat 0px -28px;height:28px;"><span> </span></div>
								<div class="J_TWidget" data-widget-config="{'trigger':'.pop1141202133155','align':{'node':'.pop1141202133155','points':['cc','cc'],'offset':[0,0]}}" data-widget-type="Popup" style="display:none;">
									<div class="shangyizhang" style="width:28px;background:url(http://img01.taobaocdn.com/imgextra/i1/54532389/TB2qQAnbXXXXXafXXXXXXXXXXXX-54532389.png) no-repeat;height:28px;cursor:pointer;"><span> </span></div>
								</div>
							</li>
							<li class="pop2141202133155" style="display:inline;float:left;margin-left:5px;cursor:pointer;">
								<div style="width:28px;background:url(http://img01.taobaocdn.com/imgextra/i1/54532389/TB2qQAnbXXXXXafXXXXXXXXXXXX-54532389.png) no-repeat -28px -28px;height:28px;"><span> </span></div>
								<div class="J_TWidget" data-widget-config="{'trigger':'.pop2141202133155','align':{'node':'.pop2141202133155','points':['cc','cc'],'offset':[0,0]}}" data-widget-type="Popup" style="display:none;">
									<div class="shangyizhang" style="width:28px;background:url(http://img01.taobaocdn.com/imgextra/i1/54532389/TB2qQAnbXXXXXafXXXXXXXXXXXX-54532389.png) no-repeat -28px 0px;height:28px;cursor:pointer;"><span> </span></div>
								</div>
							</li>
							<li class="pop3141202133155" style="display:inline;float:left;margin-left:5px;cursor:pointer;">
								<div style="width:28px;background:url(http://img01.taobaocdn.com/imgextra/i1/54532389/TB2qQAnbXXXXXafXXXXXXXXXXXX-54532389.png) no-repeat -56px -28px;height:28px;"><span> </span></div>
								<div class="J_TWidget" data-widget-config="{'trigger':'.pop3141202133155','align':{'node':'.pop3141202133155','points':['cc','cc'],'offset':[0,0]}}" data-widget-type="Popup" style="display:none;">
									<div class="shangyizhang" style="width:28px;background:url(http://img01.taobaocdn.com/imgextra/i1/54532389/TB2qQAnbXXXXXafXXXXXXXXXXXX-54532389.png) no-repeat -56px 0px;height:28px;cursor:pointer;"><span> </span></div>
								</div>
							</li>
							<li class="pop4141202133155" style="display:inline;float:left;margin-left:5px;cursor:pointer;">
								<div style="width:28px;background:url(http://img01.taobaocdn.com/imgextra/i1/54532389/TB2qQAnbXXXXXafXXXXXXXXXXXX-54532389.png) no-repeat -84px -28px;height:28px;"><span> </span></div>
								<div class="J_TWidget" data-widget-config="{'trigger':'.pop4141202133155','align':{'node':'.pop4141202133155','points':['cc','cc'],'offset':[0,0]}}" data-widget-type="Popup" style="display:none;">
									<div class="shangyizhang" style="width:28px;background:url(http://img01.taobaocdn.com/imgextra/i1/54532389/TB2qQAnbXXXXXafXXXXXXXXXXXX-54532389.png) no-repeat -84px 0px;height:28px;cursor:pointer;"><span> </span></div>
								</div>
							</li>
						</ul>
					</div>
					<div class="J_TWidget" data-widget-config="{'trigger':'.tincal20141202133155trigger','align':{'node':'.tincal20141202133155trigger','points':['cc','cc'],'offset':[-438,0]}}" data-widget-type="Popup">
						<div class="pre141202133155trigger" style="width:48px;height:48px;cursor:pointer;"><span><span><span class="pre141202133155trigger" style="width:48px;height:48px;cursor:pointer;"><span><img data-ks-lazyload="http://img02.taobaocdn.com/imgextra/i2/54532389/TB2DH3bbXXXXXciXpXXXXXXXXXX-54532389.png" height="52" src="http://a.tbcdn.cn/kissy/1.0.0/build/imglazyload/spaceball.gif" title="上一屏" width="52"/></span></span>
							</span>
							</span>
						</div>
					</div>
					<div class="J_TWidget" data-widget-config="{'trigger':'.tincal20141202133155trigger','align':{'node':'.tincal20141202133155trigger','points':['cc','cc'],'offset':[438,0]}}" data-widget-type="Popup">
						<div class="next141202133155trigger" style="width:48px;height:48px;cursor:pointer;"><span><span><img data-ks-lazyload="http://img01.taobaocdn.com/imgextra/i1/54532389/TB2aA3mbXXXXXaIXXXXXXXXXXXX-54532389.png" height="52" src="http://a.tbcdn.cn/kissy/1.0.0/build/imglazyload/spaceball.gif" title="下一屏" width="52"/></span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>