<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="__CDN__/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">


    </script>
</head>
<body>
    <form action="{:U('Api/Message/checkCode')}?access_token={$access_token['access_token']}" method="post">

        <input name="mobile" placeholder="手机号"/><br />
        <input name="code" placeholder="验证码"/><br />
        <input type="submit"  value="点我发送" />
    </form>
</body>
</html>