<extend name="template/base_index" />

<block name="area_header">
    <style type="text/css">

        .invite_num{
            font-size: 12px;
        }
        .total-row{

            float: left;
            margin-top: 12px;
            margin-left: 10px;
        }
        .pagination {

            margin: 10px;
            float: right;
            padding: 0;

            list-style: none;
            line-height: 25px;
            word-spacing: -1px;
        }
        .pagination li{
            float: left;
        }
        /* 分页相关样式 */
        .pagination div, .pagination a {
            display: inline-block;
            height: 25px;
            margin-right: 3px;
            padding: 0 9px;
            background: #fafafa;
            border-radius: 2px;
            border: 1px solid #e2e2e2;
            text-shadow: 0 1px 0 white;
            font-family: 'OpenSansSemiboldRegular';
            text-align: center;
            font-size: 12px;
            color: #424346;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        .pagination a:hover {
            background: #04BFEA;
            border: 1px solid #2899B3;
            box-shadow: 0 1px 3px rgba(0,0,0,0.1);
            text-shadow: 0 -1px 0 #17d4ff;
            color: #fff;
        }

        .pagination a.active {
            background: #f5f5f5;
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.07);
            border-color: #d9d9d9;

        }
        .pagination li.active a{
            color: #fff;
            background-color: #0e90d2;
            border-color: #0e90d2;
            cursor: default;
        }

        .pagination a.active:hover {
            text-shadow: 0 1px 0 white;
            color: #424346;
        }

        .pagination a.active, .pagination div {
            cursor: default;
        }
    </style>
</block>

<block name="area_body">

    <div class="am-panel">
        <div class="am-panel-body">
            <!--<div class="am-text-center">您的邀请码</div>-->
            <div style="font-size: 4rem;" class="am-text-center am-text-danger am-text-lg">{$id_code}</div>
        </div>
    </div>

    <div class="am-article am-text-center">
        <div class="am-h2">---邀请记录---</div>

        <div class="invite_num">
            <empty name="list">
                暂无
                <else/>
            <ul CLASS="am-list">
                <volist name="list" id="vo">
                    <li CLASS="am-cf am-padding-sm">
                        <div class="am-fl">
                            <span>{$vo.nickname}</span>
                            <span>({$vo.mobile|encryptMobile})</span>
                        </div>
                        <div class="am-fr">
                            {$vo.reg_time|date='Y-m-d H:i:s',###}
                        </div>
                    </li>
                </volist>
            </ul>

            </empty>
        </div>
        {$show}
    </div>
    {__NORUNTIME__}
</block>

<block name="area_footer">

</block>