<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{:dump($access_token)}
<div>access_token: {$access_token['access_token']}</div>
<div>expires_in: {$access_token['expires_in']}</div>
<div>token_type: {$access_token['token_type']}</div>
<div>scope: {$access_token['scope']}</div>

<form action="{:U('Api/User/UpdatePsw')}?access_token={$access_token['access_token']}" method="post">

    <input type="text" name="username" value="ooQDbsnArKx1iBCUp05EfFeOP8f0">
    <input type="text" name="old_psw" value="{:base64_encode('654321')}">
    <input type="text" name="psw" value="{:base64_encode('123456')}">
    <button type="submit">更新密码</button>
</form>
</body>
</html>