<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>access_token: {$access_token['access_token']}</div>
<div>expires_in: {$access_token['expires_in']}</div>
<div>token_type: {$access_token['token_type']}</div>
<div>scope: {$access_token['scope']}</div>

<form action="{:U('Api/User/register')}?access_token={$access_token['access_token']}" method="post">
    <!--<input type="hidden" name="access_token" value="{$access_token['access_token']}" />-->
    <!-- <input type="text" name="username" value="itboye2">-->
    <input type="text" name="username" value="15101286175">
    <input type="text" name="password" value="123456">
    <input type="text" name="type" value="3" />
    <button type="submit">注册</button>
</form>


</body>
</html>