<form action="{:U('Admin/Config/set')}" method="post" class="configSetForm{$group} col-lg-12 form-horizontal">
	<volist name="list" id="config">
		<div class="form-group">
			<label class="control-label">{$config.title}</label>
			<span class="help-block">（{$config.remark}）</span> 
			<div class="controls">
				<switch name="config.type">
					<case value="0">
						<input type="text" class="form-control input-short" name="config[{$config.name}]" value="{$config.value}">
					</case>
					<case value="1">
						<input type="text" class="form-control input-normal" name="config[{$config.name}]" value="{$config.value}">
					</case>
					<case value="2">
							<textarea class="form-control" rows="5" name="config[{$config.name}]">{$config.value}</textarea>
					</case>
					<case value="3">
						<label class="textarea input-large">
							<textarea class="form-control" rows="5" name="config[{$config.name}]">{$config.value}</textarea>
						</label>
					</case>
					<case value="4">
						<select class="form-control" name="config[{$config.name}]">
							<volist name=":parse_config_attr($config['extra'])" id="vo">
								<option value="{$key}" <eq name="config.value" value="$key">selected</eq>>{$vo}</option>
							</volist>
						</select>
					</case>
					<!-- 图片地址 -->
					<case value="5">
						<link type="text/css" rel="stylesheet" href="__CDN__/comp/wxuploader.css?v=__APP_VERSION__" />
						<link type="text/css" rel="stylesheet" href="__CDN__/jquery-uploadify/3.2.1/uploadify.css" />
						<script type="text/javascript" src="__CDN__/jquery-uploadify/3.2.1/jquery.uploadify.min.js"></script>
						<input type="hidden"  name="config[{$config.name}]" id="img_{$config.name}" value="{$config.value}" />
						
						<!-- 图片选择DOM结构 -->
						<div data-id="img_{$config.name}" class="wxuploaderimg clearfix <notempty name="config.value">checked</notempty> " data-maxitems="1">
							<div class="img-preview clearfix" >
								<notempty name="config.value">
										<div class="pull-left clearfix img-item">
											<img src="{$config.value}"  />
											<div class="edit_pic_wrp"><a href="javascript:;" class="fa fa-lg fa-trash js_delete"></a></div>
										</div>
								</notempty>
							</div>
							<div class="add">
								<i class="fa fa-plus"></i>
							</div>
						</div>

								<!-- 图片选择DOM结构 -->
					</case>
				</switch>

			</div>
		</div>
	</volist>
	<div class="form-item">
		<label class="item-label"></label>
		<div class="controls">
			<empty name="list">
			<else/>
				<button type="submit" onclick="return config_set_get_data();" class="btn btn-primary submit-btn ajax-post" target-form="configSetForm{$group}">{:L('BTN_SAVE')}</button>
			</empty>
		</div>
	</div>
</form>
<!--{__NORUNTIME__}-->
