<extend name="desktop_default/template/base_index2" />

<block name="area_header">
	<link rel="stylesheet" href="__PUBLIC__/Home/Index/css/base.css">
	<style type="text/css">
	body {
			background-color: #F5F5F5;
		}
		.am-footer-default{background: #F5F5F5}
		.div_main{width:1100px;margin: 0 auto; background: #F5F5F5 }
		.div_left{width: 20%;margin: 20px;float: left;background:white}
		.div_left dl{margin:0 auto; width:70%;margin-top:50px;margin-bottom:50px;}
		.div_left dl dt{font-size: 20px;font-weight: 100; color: orangered;}
		.div_left dl dd{padding-left:25px;font-size: 16px;padding-top: 10px;}
		.div_left dl dd a:visited{color:#ccc}
		.div_left dl dd a:hover{color:#FF6700}
		.div_left dl dd a.dd_search{color:#FF6700}
		.div_right{width: 70%;margin: 20px;border: 1px solid #ccc;float: left;padding: 20px;background:white}
	</style>
</block>

<block name="area_body">
	<include file="desktop_default/width/right" />
	<include file="desktop_default/width/top"/>
		<div class=" container">
		<include file="desktop_default/width/daohang"/>
	</div><br>
	<div style="  width: 1080px; margin: 0 auto; height: 50px; background-color: white; ">
		<img height="70px" style="margin-left: -3px; margin-top: -5px;" src="__IMG__/userinfo.png">
		<font color="#8C8C8C">我的等级</font>
	</div><br>
	<div class="div_main" >
		<div class="div_left" style="width: 200px;">
			<include file="desktop_default/width/list"/>
		</div>
		<div class="div_right" style="width: 800px;">
			<div class="am-panel am-panel-warning">
			  <div class="am-panel-hd">我的分销等级</div>
			  <div class="am-panel-bd">
			   	<table class="am-table am-table-bordered am-table-striped am-table-compact ">
				  <thead>
				  <tr>
				    <th>店铺名称</th>
				    <th>级别名称</th>
				    <th>分佣比例</th>
				    <th>优惠比例</th>
				  </tr>
				  </thead>
				  <tbody>
				  	<volist name="store" id="vo">
				  		<volist name="level" id="v">
				  			<if condition="$vo['id'] eq $v['storeuid']">
							  <tr>
								 <td>{$vo.name}</td>
								 <td>{$v['name']}</td>
								 <td>{$v['commission_ratio']}</td>
							     <td>{$v['discount_ratio']}</td>
							  </tr>
							</if>
					 	 </volist>
					 </volist>
				  </tbody>
				</table>
			  </div>
			</div>
		</div>
	</div>
	<br>		
	<include file="desktop_default/width/floor" />
</block>

<block name="area_footer">
<script type="text/javascript">
	$(function(){
		
	})
</script>
</block>