<extend name="desktop_default/template/base_index2" />

<block name="area_header">
<link rel="stylesheet" href="__PUBLIC__/Home/Index/css/base.css">
	<style type="text/css">
		.all{width: 600px; margin: 0 auto; height: 200px;}
	</style>
</block>

<block name="area_body">
	<include file="desktop_default/width/right" />
	<include file="desktop_default/width/top"/>
	<div class="container">
		<include file="desktop_default/width/daohang"/>
	</div><br>
	<div style="  width: 1080px; margin: 0 auto; height: 50px; background-color: white; ">
		<img height="70px" style="margin-left: -3px; margin-top: -5px;" src="__IMG__/userinfo.png">
		<font color="#8C8C8C">在线咨询!</font>
	</div><br>
	<div class="all">
		<br>
		<br>
		<br>
		<img  style="CURSOR: pointer" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&uin=99701759&site=qq&menu=yes', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"  border="0" SRC=http://wpa.qq.com/pa?p=1:99701759:1 alt="点击这里给我发消息">

	</div>
	 <include file="desktop_default/width/floor" />
</block>

<block name="area_footer">

</block>


