
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
id="">
  <ul class="am-navbar-nav am-cf am-avg-sm-4">
    <li>
      <a href="{:U('Shop/Index/index')}" class="">
        <i class="am-icon-home"></i>
        <span class="am-navbar-label">首页</span>
      </a>
    </li>
    <li>
      <a href="{:U('Shop/Product/search')}" class="">
       <i class="am-icon-search-plus"></i>
        <span class="am-navbar-label">发现</span>
      </a>
    </li>
    <li>
      <a href="{:U('Shop/ShoppingCart/index')}" class="">
        <i class="am-icon-shopping-cart"></i>
        <span class="am-navbar-label">购物车</span>
      </a>
    </li>
    <li ><!-- data-am-navbar-share -->
      <a href="{:U('Shop/User/info')}" class="">
        <i class="am-icon-user"></i>
        <span class="am-navbar-label">个人中心</span>
      </a>
    </li>
  </ul>
</div>